[flake8]
max-line-length = 99
select = C,E,F,W,B,B950
ignore = E501,W503,E203,F405,F403,W291,F401,E231,E741, W293
exclude =
    .git
    build
    dist
    venv
    docs
    *.egg-info
    experiment.py
